<html>
  <head>
    <style type="text/css">
      body {
        background: gray;
        color: blue;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to this Docker Session , INSTRUCTOR: Rizwan</h4>
      <img src="{{url}}" />
      <p><small>Docker_Logo: <a href="https://www.docker.com/company/newsroom/media-resources/">Smart Tech Solutions</a></small></p>
    </div>
  </body>
</html>
